.footer-section {
  position: fixed;
  bottom:0px;
  background-image: url("../../../../assets/images/footer-image.png");
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 160px;
  background-size: 100%;
  z-index:0;
}
