label {
  font-size: 12px !important
}
.main-container {
    padding: 35px 10px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: visible;
	  margin: 70px 0 0 0;
    order:2;
    flex-grow: 1;
    min-height: 85vh;
    background-image: url("../../assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: 0px 150px;
    background-size: 25%;
}
@media screen and (max-width: 992px) {
    .main-container {

    }
}
