label {
  font-size: 12px !important
}
.main-container {
    padding: 35px 10px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: visible;
	  margin: 70px 0 0 0;
    order:2;
    flex-grow: 1;
    min-height: 85vh;
    background-image: url("../../../assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: 0px 150px;
    background-size: 25%;
}
@media screen and (max-width: 992px) {
    .main-container {

    }
}
.management {
  padding:25px;
  .h4 {
    margin: 20px 0px;
    color: #24aee4;
    font-size: 20px;
    font-weight: 700;
  }
  .index {
    z-index:9
  }
  .video {
    width: 100%;
  height: 400px;
  background: #61b8da17;
  border: 2px solid #24aee400;
  }
}
.center {
  text-align: center;
}
.small-text {
  text-align: center;
  color: #1eb7b0;
  margin-top: -12px;
  font-weight: 600;
}
