<section class="main-container">
<div class="management">
    <div class="row">
        <!-- <div class="col-md-6 index">
            <h4 class="h4"> Parking Management Vehicle Count from CCTV </h4>
            <div class="row">
                <div class="col-md-12">
                    <video class="video" controls>
                      <source src="assets/video/1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div> -->
        <div class="col-md-1"></div>
        <div class="col-md-10 index">
            <h4 class="h4 center"> Using Propriety AI Algorithms enable Real-time Face Detection, Analysis & Recognition Capabilities   </h4>
            <p class="small-text"> Unleashing the Power of AI to Improve Lives </p>
            <div class="row">
                <div class="col-md-12">
                    <video  class="video"controls autoplay>
                      <source src="assets/video/Face_Reco.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <!-- <iframe src="assets/video/2.mp4" class="video"></iframe> -->
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</section>
